/*
 * ==============
 * Font-Family
 * ==============
 */

/*
 * ==============
 * Input View
 * ==============
 */

.inputView #feedBack {
	-fx-font-family: "Arial", cursive, sans-serif;
	-fx-font-size:13px;
	-fx-text-fill: white;
	font-weight: 600;
	-fx-background-color: #202020;
	-fx-border-color: #268BD2;
	-fx-border-style:solid;
	-fx-border-width:2px 2px 0px 2px;
} 

.inputView #userInput {
	-fx-font-family: "Consolas", cursive, sans-serif;
	-fx-font-size:14px;
	-fx-text-fill:white;
	-fx-focus-color: blue;
	-fx-background-color:#202020;
	-fx-accent: blue;
	-fx-border-color:#268BD2;
	-fx-border-style:solid;
	-fx-border-width:0px 2px 2px 2px;
}


/*
 * ==============
 * Task Styles
 * ==============
 */

.task {
	-fx-padding: 2 0 2 5;
	-fx-background-radius: 5;
	-fx-font-family: "Arial", sans-serif;
	-fx-font-size: 13px;
}

.task #index { 
	-fx-padding: 0 5 0 5;
	-fx-text-fill: #FF8000;
	-fx-font-size: 11px;
}

.task #taskName {
	-fx-padding: 0 0 0 6;
	-fx-text-fill: white;
}

.task #taskFlag {
	-fx-padding: 12;
	-fx-fill: #F02E4F;
}

.task #sDate {
	-fx-padding: 1 0 0 5;
	-fx-text-fill: #ADADAD;
	-fx-font-size:11px;	
}

.task #eDate { 
	-fx-padding: 1 0 0 5;
	-fx-text-fill: #C0C0C0;
	-fx-font-size:11px;
}
.task #startTime {
	-fx-padding : 1 0 0 5;
	-fx-text-fill: #FF8000;
	-fx-font-size:11px;
}

.task #endTime {
	-fx-padding: 1 0 0 5;
	-fx-text-fill: #FF8000;
	-fx-font-size:11px;
	
}

.task #checkBox {
	-fx-font-size:8px;
}

.task #jointLabel {
	-fx-font-size:10px;
	-fx-padding: 1 0 0 5;
	-fx-text-fill: #FDC325;
}

/*
 * ==============
 * Help Style
 * ==============
 */

.helpCommand {
	-fx-padding: 2;
	-fx-font-size:13px;
	-fx-background-color: transparent;
}

.helpCommand #command {
	-fx-font-weight: 700;
}

/*
 * ==============
 * Root
 * ==============
 */
.root{
	-fx-background-color: transparent;
}
/*
 * ==============
 * Task Display
 * ==============
 */
 
.display #borderPane {
	-fx-background-color: #1B1C1D; 
}
 
.display #resultContent {
 	-fx-background-color: #586E75;
 	-fx-padding: 13;
 	-fx-background-radius: 20;
}
 
.display #resultContent .list-cell {
 	-fx-background-color: #586E75;
}

.display #resultContent .listView {
	-fx-background-color: #586E75;
}

.display #helpContent {
	-fx-background-color: #CC99FF;
	-fx-padding: 13;
	-fx-background-radius: 20;
}

.display #helpContent .list-cell{
	-fx-background-color: transparent;
}
.display #generalTaskLabel {
	-fx-font-family: "Arial", cursive, sans-serif;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #2AA198;
	font-weight: 700;
	-fx-background-color: #1B1C1D;
	-fx-padding: 2 24 2 2;
	-fx-border-color:#1B1C1D;
	-fx-border-style:solid;
	-fx-border-width:2px 2px 0px 0px;
}

.display #generalView {
	-fx-background-color: #1B1C1D;
	-fx-border-color:#1B1C1D;
	-fx-border-style:solid;
	-fx-border-width:2px 2px 0px 0px;
}

.display #generalView .list-cell {
	-fx-background-color: #1B1C1D;
}

.display #generalView .listView {
	-fx-background-color: #1B1C1D;
}
.display #flagTaskLabel {
	-fx-font-family: "Arial", cursive, sans-serif;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #DC322F;
	font-weight : 700;
	-fx-background-color: #1B1C1D;
	-fx-border-color:#1B1C1D;
	-fx-border-style:solid;
	-fx-border-width:2px 2px 0px 0px;
	-fx-padding: 2 24 2 2;
}

.display #flagView {
	-fx-background-color: #1B1C1D;
	-fx-border-color:#1B1C1D;
	-fx-border-style:solid;
	-fx-border-width:2px 2px 2px 0px;
}

.display #flagView .list-cell {
	-fx-background-color: #1B1C1D;
}

.display #flagView .listView {
	-fx-background-color: #1B1C1D;
}

.display #floatingTaskLabel {
	-fx-font-family: "Arial", cursive, sans-serif;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #B58900;
	font-weight: 700;
	-fx-background-color: #1B1C1D;
	-fx-padding: 2 17 2 2;
	-fx-border-color:#1B1C1D;
	-fx-border-style:solid;
	-fx-border-width:2px 2px 0px 0px;
}

.display #floatingView {
	-fx-background-color: #1B1C1D;
	-fx-border-color:#1B1C1D;
	-fx-border-style:solid;
	-fx-border-width:2px 2px 2px 2px;
}

.display #floatingView .list-cell {
	-fx-background-color: #1B1C1D;
}

.display #floatingView .listView {
	-fx-background-color: #1B1C1D;
}

.display .list-view .scroll-bar:horizontal {
	-fx-opacity: 0;
	-fx-padding: -10;
}

.display .list-view .scroll-bar:vertical {
	-fx-opacity: 0;
	-fx-padding: -10;
}

.display .list-cell {
	-fx-padding: 0 0 3 0;
	-fx-background-color: white;
}

