/*
 * ==============
 * Font-Family
 * ==============
 */

/* @font-face {
	src: url("../../src/resources/fonts/Action-Man.ttf");
}*/

/* @font-face {
	font-family: ActionMan;
	font-weight:400;
	font-style:italic;
	src: url("../../src/resources/fonts/Action_Man_Italic.ttf");
}

@font-face {
	font-family: ActionMan;
	font-weight:700;
	font-style:bold;
	src: url("../../src/fonts/Action_Man_Bold.ttf");
}

@font-face{
	font-family: ActionMan;
	font-weight: 700;
	font-style: italic;
	src: url("../../src/fonts/Action_Man_Bold_Italic.ttf");
} 
*/
@font-face {
	font-weight:400;
	font-style:normal;
	src: url("../../src//resources/fonts/fontawesome-webfront.ttf");
} 

/*
 * ==============
 * Input View
 * ==============
 */
.inputView #feedBack {
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size:13px;
	-fx-text-fill: gray;
} 

.inputView #userInput {
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	/*fx-font-family: "Action Man"; */
	-fx-font-size:14px;
	-fx-focus-color: blue;
	-fx-accent: blue;
}


/*
 * ==============
 * Task Fonts
 * ==============
 */

.task {
	-fx-padding: 2 0 2 15;
	-fx-background-radius: 5;
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 14px;
}

.task #index { 
	-fx-padding: 0 5 0 5;
	-fx-text-fill: gray;
	-fx-font-size: 12px;
}

.task #taskName {
	-fx-padding: 0 0 0 8;
	-fx-text-fill: black;
}

.task #priority {
	-fx-padding: 0 0 0 8;
	-fx-text-fill: tomato;
	-fx-font-size: 13px;
	-fx-font-style: italic;
}

.task #sDate {
	-fx-padding: 4 0 0 8;
	-fx-text-fill: gray;
	-fx-font-size:11px;	
}

.task #eDate { 
	-fx-padding: 4 0 0 8;
	-fx-text-fill: gray;
	-fx-font-size:11px;
}

.task #checkBox {
	-fx-padding: 0 0 0 1;
	-fx-font-size:8px;
}
/*
 * ==============
 * Root
 * ==============
 */
.root{
	-fx-background-color: white;
	-fx-padding:2;
}
/*
 * ==============
 * Task Display
 * ==============
 */
 
 .taskDisplay {
 	-fx-background-colour: blue;
 }
 