/*
 * ==============
 * Font-Family
 * ==============
 */

@font-face {
	font-family: ActionMan;
	font-weight: 400;
	font-style: normal;
	src: url("../../src/fonts/Action-Man.ttf");
}

@font-face {
	font-family: ActionMan;
	font-weight:400;
	font-style:italic;
	src: url("../../src/fonts/Action_Man_Italic.ttf");
}

@font-face {
	font-family: ActionMan;
	font-weight:700;
	font-style:bold;
	src: url("../../src/fonts/Action_Man_Bold.ttf");
}

@font-face{
	font-family: ActionMan;
	font-weight: 700;
	font-style: italic;
	src: url("../../src/fonts/Action_Man_Bold_Italic.ttf");
}

/*
 * ==============
 * Input View
 * ==============
 */
.inputView #feedBack {
	-fx-font : 13px ActionMan;
	-fx-text-fill: gray;
} 

.inputView #userInput {
	-fx-font: 15px ActionMan;
	-fx-focus-color: blue;
	-fx-accent: blue;
}


/*
 * ==============
 * Task Fonts
 * ==============
 */

.task {
	-fx-padding: 2 0 2 15;
	-fx-background-radius: 8;
	-fx-font-family: ActionMan;
	-fx-font-size: 20px;
}

.task #index { 
	-fx-padding: 0 5 0 5;
	-fx-text-fill: gray;
}

.task #taskName {
	-fx-padding: 0 0 0 8;
	-fx-text-fill: blue;
}

.task #priority {
	-fx-padding: 0 0 0 8;
	-fx-text-fill: red;
}
/*
 * ==============
 * Root
 * ==============
 */
.root{
	-fx-background-color: cyan;
	-fx-padding:4;
}
