/*
 * ==============
 * Font-Family
 * ==============
 */

@font-face {
	font-family: 'FontAwesome';
	src: url('../../../src/resources/fonts/fontawesome-webfront.ttf');
} 

/*
 * ==============
 * Input View
 * ==============
 */
.inputView #feedBack {
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size:13px;
	-fx-text-fill: gray;
	font-weight: 600;
	-fx-background-color: #CCFFFF;
} 

.inputView #userInput {
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size:14px;
	-fx-focus-color: blue;
	-fx-accent: blue;
}


/*
 * ==============
 * Task Styles
 * ==============
 */

.task {
	-fx-padding: 2 0 2 5;
	-fx-background-radius: 5;
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 13px;
}

.task #index { 
	-fx-padding: 0 5 0 5;
	-fx-text-fill: gray;
	-fx-font-size: 11px;
}

.task #taskName {
	-fx-padding: 0 0 0 6;
	-fx-text-fill: black;
}

.task #priority {
	-fx-padding: 0 0 0 6;
	-fx-text-fill: tomato;
	-fx-font-size: 13px;
	-fx-font-style: italic;
}

.task #sDate {
	-fx-padding: 1 0 0 5;
	-fx-text-fill: gray;
	-fx-font-size:11px;	
}

.task #eDate { 
	-fx-padding: 1 0 0 5;
	-fx-text-fill: gray;
	-fx-font-size:11px;
}
.task #startTime {
	-fx-padding : 1 0 0 5;
	-fx-text-fill: #3333FF;
	-fx-font-size:11px;
}

.task #endTime {
	-fx-padding: 1 0 0 5;
	-fx-text-fill: #3333FF;
	-fx-font-size:11px;
	
}

.task #checkBox {
	-fx-font-size:8px;
}

.task #jointLabel {
	-fx-font-size:10px;
	-fx-padding: 1 0 0 5;
	-fx-text-fill: red;
}

/*
 * ==============
 * Help Style
 * ==============
 */

.helpCommand {
	-fx-padding: 2;
	-fx-font-size:13px;
	-fx-background-color: transparent;
}

.helpCommand #command {
	-fx-font-weight: 700;
}

/*
 * ==============
 * Root
 * ==============
 */
.root{
	-fx-background-color: transparent;
}
/*
 * ==============
 * Task Display
 * ==============
 */
 
.display #borderPane {
	-fx-background-color: transparent; /* #99FF99;*/
}
 
.display #resultContent {
 	-fx-background-color: #FFCCCC;
 	-fx-padding: 13;
 	-fx-background-radius: 20;
}
 
.display #resultContent .list-cell {
 	-fx-background-color: #FFCCCC;
}

.display #resultContent .listView {
	-fx-background-color: #FFCCCC;
}

.display #helpContent {
	-fx-background-color: #CC99FF;
	-fx-padding: 13;
	-fx-background-radius: 20;
}

.display #helpContent .list-cell{
	-fx-background-color: transparent;
}
.display #generalTaskLabel {
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 13px;
	-fx-text-fill: #606060;
	font-weight: 700;
	-fx-background-color: #99FFFF;
	-fx-padding: 2 24 2 2;
}

.display #generalView {
	-fx-background-color: #99FFFF;
}

.display #generalView .list-cell {
	-fx-background-color: #99FFFF;
}

.display #generalView .listView {
	-fx-background-color: #99FFFF;
}
.display #flagTaskLabel {
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 13px;
	-fx-text-fill: #606060;
	font-weight : 700;
	-fx-background-color: #FFCCE5;
	-fx-padding: 2 24 2 2;
}

.display #flagView {
	-fx-background-color: #FFCCE5;
}

.display #flagView .list-cell {
	-fx-background-color: #FFCCE5;
}

.display #flagView .listView {
	-fx-background-color: #FFCCE5
}

.display #floatingTaskLabel {
	-fx-font-family: "Comic Sans MS", cursive, sans-serif;
	-fx-font-size: 13px;
	-fx-text-fill: #606060;
	font-weight: 700;
	-fx-background-color: #99FFCC;
	-fx-padding: 2 17 2 2;
}

.display #floatingView {
	-fx-background-color: #99FFCC;
}

.display #floatingView .list-cell {
	-fx-background-color: #99FFCC;
}

.display #floatingView .listView {
	-fx-background-color: #99FFCC;
}

.display .list-view .scroll-bar:horizontal {
	-fx-opacity: 0;
	-fx-padding: -10;
}

.display .list-view .scroll-bar:vertical {
	-fx-opacity: 0;
	-fx-padding: -10;
}

.display .list-cell {
	-fx-padding: 0 0 3 0;
	-fx-background-color: white;
}

